#trafficBar {
  background-color: black;
  width: 10px;
  height: 70px;
  margin-left: 82px;
}
#trafficRod{
  background-color: black;
  width: 66px;
  height: 193px;
  margin-left: 50px;
  padding: 7px;
  border-radius: 10px;
}
.light{
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  margin: 5px;
  background-color: #ccc;
}
.red{
    background-color: red;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
.selected{
  box-shadow: #f8ffcc 0px 0px 50px 20px;
}
.left{
  text-align: left;
  margin-top: 20px;
  margin-left: 50px;
}
button.success{
  background: green;
  color: #fff;
  padding: 5px;
  border: none;
  cursor: pointer;
}
button.danger{
  background: red;
  color: #fff;
  padding: 5px;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}